<masthead></masthead>
<div class="container-fluid">
  <div class="page-header">
    <h2>
      <small class="breadcrumb-previous"><a [routerLink]="['/']">Apps</a> &gt;</small>
      <small class="breadcrumb-previous"><a [routerLink]="['/applications', application.uuid]">{{ application?.name }}</a> &gt;</small>
      {{ environment?.name }}
      <button class="btn btn-link title-settings" *ngIf="!editing" (click)="editing=!editing"><i class="fa fa-cog"></i></button>
    </h2>
  </div>

  <div class="row">
    <form [formGroup]="editForm" novalidate>
      <div class="col-sm-6">
        <div class="form-group-lg">
          <h3>
            <input type="text" class="form-control" *ngIf="editing" formControlName="name">
          </h3>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="btn-group pull-right" role="group" aria-label="...">
          <button class="btn btn-default" type="button" *ngIf="editing" (click)="cancelEditing()">
            Cancel <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
          </button>
          <button class="btn btn-default" type="button" *ngIf="editing" (click)="saveEnvironment()">
            Save <span class="glyphicon glyphicon-save" aria-hidden="true"></span>
          </button>
        </div>
      </div>
    </form>
  </div>

  <div class="row">
    <div class="col-md-12">
      <h5>Versions</h5>
      <p *ngIf="versions?.length == 0">
        <a class="btn btn-default" [routerLink]="['/environments', environment.uuid, 'versions', 'create']">Create Version</a>
      </p>
      <div *ngIf="versions?.length > 0">
        <a href="#" class="btn btn-success btn-outline pull-right" [routerLink]="['/environments', environment.uuid, 'versions', 'create']">
          <i class="fa fa-plus"></i> Create Version
        </a>
        <table class="table">
          <thead>
            <tr>
              <th>Name</th>
              <th>Image</th>
              <th>Replicas</th>
              <th>Created At</th>
              <th>Last Updated</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let version of versions">
              <td><a [routerLink]="['/environments/', environment.uuid, 'versions', version.uuid]">{{ version.name }}</a></td>
              <td>{{ version.image }}</td>
              <td>{{ version.replicas }}</td>
              <td>{{ version.created_at | date:'medium'}}</td>
              <td>{{ version.updated_at | date:'medium'}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
