<div class="container-fluid">
  <div class="page-header">
    <h2>
      <small class="breadcrumb-previous"><a [routerLink]="['/']">Apps</a> &gt;</small>
      <small class="breadcrumb-previous"><a [routerLink]="['/applications', environment.application.uuid]">{{ environment?.application.name }}</a> &gt;</small>
      <small class="breadcrumb-previous"><a [routerLink]="['/environments', environment.uuid]">{{ environment?.name }}</a> &gt;</small>
      <br>
      {{ version?.name }}
    </h2>
  </div>

  <div class="row">
    <div class="col-sm-12">
      <p><b>Number of instances:</b> {{ version?.replicas }}</p>
      <p><b>Created:</b> {{ version?.created_at | date:'medium'}}</p>
    </div>
    <div class="row">
      <div class="col-sm-6">
        <div class="panel panel-default">
          <!-- Default panel contents -->
          <div class="panel-heading">Containers</div>
          <div class="panel-body">
            <table class="table">
              <thead>
                <tr>
                  <th>Name</th>
                  <th>Image</th>
                  <th>Always Pull?</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let container of version?.containers">
                  <td>{{ container.name }}</td>
                  <td>{{ container.image }}</td>
                  <td><i class="fa fa-check" *ngIf="container.alwaysPull"></i> </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="panel panel-default">
          <!-- Default panel contents -->
          <div class="panel-heading">Volumes</div>
          <div class="panel-body">
            <p *ngFor="let volume of version?.volumes">{{ volume.name }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="this.availableEnvironments.length > 0">
    <hr>
    <h3>Deploy this version</h3>
    <p>Select an environment to deploy this version to.</p>
    <div class="form-inline">
      <select class="form-control input-lg" [(ngModel)]="deployToEnvUUID">
        <option value="" disabled>Select one...</option>
        <option *ngFor="let env of availableEnvironments" value="{{ env.uuid }}">{{ env.name }}</option>
      </select>
      <button type="button" class="btn btn-default btn-lg" (click)="deployVersion()">Deploy</button>
    </div>
  </div>
</div>
