<masthead></masthead>
<div class="application-details">
  <div class="container-fluid">
    <div class="col s12">
      <p><a href="/app">&laquo; Back to Dashboard</a></p>
    </div>
    <div class="col s12">
      <h3><a href="">{{ application?.Name }}</a></h3>
      <h5>{{ application?.UUID }}</h5>
    </div>
    <div class="col s12">
      <table class="table">
        <thead>
          <tr>
            <th>Pod</th>
            <th>Containers</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>[POD NAME]</td>
            <td>[# of PODS]</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
