main {
    padding: 1.5em 22em;
    font-family: 'Sahitya', serif;
    text-align: left;
    margin-top: 50px;
    display: block;
}

main h1 {
    margin-bottom: 0;
}

main p {
    color: #999;
}

main p.desc {
    margin-top: 0;
}
